<!--  <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <exclude name="demoApiFramework.AccountCreationTest"/>
      <class name="demoApiFramework.ForgotPasswordTest"/>
      <class name="demoApiFramework.GetProfileRequestTest"/>
      <class name="demoApiFramework.UpdateProfileTest"/>
      <class name="demoApiFramework.LoginApiTest"/>
      <class name="demoApiFramework.loginAPITest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
